td {
	font-size:12px;

}

#feedback { font-size: 1.4em; }
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814 !important; color: purple !important; }
#selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
.ui-selected
{
	background:Gray !important; 

}



input 
{
	display:inline !important;
}
	
body
{
	line-height:14px !important;	
}

.dataTables_wrapper .fg-toolbar { display: none; }

.group 
{
	background:Yellow !important;	
	margin-top:1px;
}

.spinner
{
	
	
}

#InvestigationText
{
    height: 83% !important;
    width: 98% !important;
}

#invForm
{
	height:100% !important;
	margin 0 0 0 0 ;
}

fieldset 
{
	height:86% !important;
}

#UserName
{
	display:none;
}

.table-striped tbody tr.odd.investigated td{
    background-color: #FFFFFE;
}
.table-striped tbody tr.even.investigated td{
    background-color: #FFFFDD;
}

div.investigationHeaderText
{
	margin: 0px 3px 3px 20px;
	line-height:1.3em;
	float:left;
	
}

div.investigationHeaderText:first-line
{
	font-weight:bold;
	font-size:14px;
	padding-bottom:15px;
	
}

.collapsed-text
{
	height:1.3em;
	overflow:hidden;
	text-overflow:ellipsis;
}